header{
  background-color: gold;
  /*padding-left: 150px;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  text-align: center;
}

h1{
  margin: 0;
  padding: 10px;
  color: #000;

}

/*image on home page*/
.happybreakfast {
  display: block;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}



.navigation-pane {
  display: block;
  margin-top: 56px;
  text-align: center;
}

.nav-link {
  width: 50%;
  margin: auto;
  float: left;
}

.nav-link-a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  font-size: 12pt;

}



#welcome {
  display: inline-block;
  text-align: center;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: gold;
}



label {
  display: block;
}

.radio-buttons label {
  display: inline;
}

#log-entries {
  margin: auto;
  max-width: 600px;
}

#panel {
  margin-top: 66px;
  margin-left: 150px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: gold;
  background-color: #555;
  border: solid 1px #c3c3c3;
  display: none;
  position: absolute;
}

/* Fix footer to bottom of page*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: gold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*media queries*/
@media(min-width:769px){


  #welcome {
    position: absolute;
    left: 150px;
    margin-left: 50px;
  }

  .nav-link {
    width: 100%;
    display: block;
  }

  .nav-link-a {
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    font-size: 12pt;

  }

  #log-entries {
    padding-top: 66px;
    margin-left: 150px;
    max-width: 600px;

  }


/*image on home page*/
  .happybreakfast {
    width: 50em;
    padding-top: 150px;

  }

  /*displays navigation pane to the left of the viewport*/
  .navigation-pane {
    display: block;
    list-style-type: none;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

}
